@import url("./styles/chart.css");
@import url("./styles/header.css");
@import url("./styles/footer.css");
@import url("./styles/sidebar.css");

:root {
    --light-purple: #E4E9F6;
    --blue: #003B5C;
    --light-green: #CCF8ED;
    --dark-green: #00DEA3;
    --gray: #444444;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 29px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 20% auto;
    background-color: var(--light-purple);
}
